asgiref
certifi
charset-normalizer
distlib
dj-database-url
Django
filelock
gunicorn
idna
joblib
mysql-connector
mysqlclient
numpy
Pillow
packaging
pandas
pipenv
platformdirs
psycopg2
psycopg2-binary
pyarrow
pylance
PyMySQL
python-dateutil
python-dotenv
requests
scikit-learn
scipy
six
sqlparse
threadpoolctl
typing_extensions
tzdata
urllib3
virtualenv
whitenoise



